@charset "UTF-8"; 
@font-face {
    font-family: 'FuturistFixedwidthRegular';
    src: url('font/futrfw.eot');
    src: url('font/futrfw.eot') format('embedded-opentype'),
         url('font/futrfw.woff') format('woff'),
         url('font/futrfw.ttf') format('truetype'),
         url('font/futrfw.svg#FuturistFixedwidthRegular') format('svg');
	
}

/* reset */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{font-size:100%}legend{color:#000}*{box-sizing: border-box;}

body {
	color: #141c25;
	font-family: "verdana",sans-serif;
}

#pioche{
	font-size: 10px;
}

#playerboard {
	position: absolute;
	top:0;
	right: 0;
	
}

.main {
	margin-bottom:20px;
}

#defausse {
	position: absolute;
	top: 0;
	left: 50%;
}
#tapis {
	position: absolute;
	top: 200px;
	left: 50%;
}

#tapis .joueur{
	margin-bottom: 20px;
}

#fancybox{
	position: absolute;
	z-index: 100;
	background: rgba(0,0,0,0.5);
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
}

#fancybox div:first-child{
	background: #fff;
	padding: 20px;
	width: 30%;
	margin: auto;
	
}

#fancybox div:first-child div{
	margin: auto;
	width: 100px;
	text-align:center;
	padding: 5px;
	background: navy;
	color: #fff;
}